@use './colors' as c;
@use './fonts' as f;

html.the-rewrite .HypothesisApp {
  overflow: unset;
  height: auto;
  padding: 49px 0 0 0;
  background: #fff;
}

.rewrite-grid-parent,
.rewrite-grid-row {
  // display: flex;
}

.rewrite-grid-parent {
  display: flex;
  flex-direction: column;
}

.rewrite-grid-row {
  border: 1px solid magenta;
  position: relative;
  height: 800px;
  //flex-direction: row;
}

.rewrite-grid-row + .rewrite-grid-row {
  margin-top: (f.$base * f.$multp * f.$multp);
}

.rewrite-grid-item {
  position: absolute;
  width: 300px;
  border: 1px solid purple;
  // flex: 0 0 (200px + f.$base + (f.$base/f.$multp) + 25px);
  padding: 0 f.$base 0 (f.$base/f.$multp);
  font-family: 'crimson-text', 'Crimson Text', serif;
}

.rewrite-grid-item .number {
  font-family: 'Space Grotesk', sans-serif;
  margin: 0 5px 0 0;
  line-height: 1.618;
  font-size: 11px;
  width: 20px;
  //flex: 0 0 20px;
  text-align: right;
}

.rewrite-grid-item.wide {
  //flex: 0 0 400px;
}

.rewrite-grid-item section p {
  margin: 0;
  line-height: f.$multp;
  font-size: f.$base;
}

.rewrite-grid-item section .MarkdownView p {
  text-align: justify;
  white-space: pre-wrap;
  word-break: break-word; // long strings can be broken
  hyphens: auto; // on word break add hyphen
  // PLEASE SEE Review comment in TheRewriteGrid.js, lang tag is needed for this to work
}

.rewrite-grid-item section .MarkdownView p + p {
  margin-top: 0.5em;
}

.rewrite-grid-item section .MarkdownView blockquote {
  margin: (f.$base / f.$multp) 0;
  font-style: unset;
  letter-spacing: auto;
}

.rewrite-grid-item section .MarkdownView blockquote,
.rewrite-grid-item section .MarkdownView blockquote p {
  font-family: 'crimson-text', 'Crimson Text', serif;
  line-height: f.$multp;
}

.rewrite-grid-item .MarkdownView + p {
  margin-top: calc(f.$base * f.$multp);
}

.rewrite-grid-item section p a {
  color: rgb(32, 32, 32);
  text-decoration: underline;
}

.rewrite-grid-item section ul {
  margin-top: calc(f.$base * f.$multp);
  width: 80%;
  margin-left: 20%;
}

.rewrite-grid-item .inner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
}

.definition {
  background: c.$definition-color;
}

.addition {
  background: c.$addition-color;
}

.closest {
  animation: fade 1.5s ease-in-out;
  background: transparent;
}

@keyframes fade {
  50% {
    background: tomato;
  }
  0%,
  100% {
    background: transparent;
  }
}
