@use './colors' as c;
@use './fonts' as f;

.TheRewriteModal__outer {
  position: relative;
  height: 100vh;
}

.TheRewriteModal__inner {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
}

.TheRewriteModal__inner iframe {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.TheRewriteModal__close-button-container {
  top: 0;
  position: absolute;
}

/* GRID */

.closest {
  //animation: fade 1.5s ease-in-out;
  //background: transparent;
}

@keyframes fade {
  50% {
    background: #c6e4fd;
  }
  0%,
  100% {
    background: transparent;
  }
}

/* HIGHLIGHTS */
.hypothesis-highlights-always-on {
  .hypothesis-highlight {
    background-color: unset;
    position: relative;
    background-image: linear-gradient(
      to right top,
      c.$default-color 0,
      c.$default-color 100%
    );
    background-size: 100% 20%;
    background-repeat: repeat-x;
    background-position: bottom;
  }

  .hypothesis-highlight .hypothesis-highlight {
    background-color: unset;
  }

  .hypothesis-highlight[data-sup]::after {
    content: attr(data-sup);
    vertical-align: super;
    font-size: 0.75em;
    margin-left: 0.2em;
    position: static;
    width: auto;
    height: auto;
    clip: unset;
    overflow: auto;
    padding: 2px;
    transition: background-color 0.5s ease-in-out;
  }

  .hypothesis-highlight.hypothesis-highlight-focused[data-sup]::after {
    animation-name: pulse-highlight-focused;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    color: white !important;
  }
  @keyframes pulse-highlight-focused {
    0% {
      background-color: #555555;
    }
    50% {
      background-color: black;
    }
    100% {
      background-color: #555555;
    }
  }

  .closest .hypothesis-highlight[data-sup]::after {
    background-color: #d7d7d7;
    color: black;
  }

  .hypothesis-highlight > .hypothesis-highlight::after {
    //display: none;
  }

  .hypothesis-highlight > .hypothesis-highlight {
    background-position: left 0 bottom 20%;
  }

  .hypothesis-highlight > .hypothesis-highlight > .hypothesis-highlight {
    background-position: left 0 bottom 40%;
  }
}

#the-rewrite-reading-index {
  visibility: hidden;
}
.TheRewrite-SidebarOpen #the-rewrite-reading-index {
  visibility: unset;
}
