.TheRewriteModal__outer {
  position: relative;
  height: 100vh;
}

.TheRewriteModal__inner {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
}

.TheRewriteModal__inner iframe {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.TheRewriteModal__close-button-container {
  top: 0;
  position: absolute;
}

/* GRID */

.closest {
  animation: fade 0.5s ease-in-out;
  background: transparent;
}

@keyframes fade {
  50% {
    background: tomato;
  }
  0%, 100% { background: transparent; }
}
