@use './colors' as c;

.TheRewriteModal__outer {
  position: relative;
  height: 100vh;
}

.TheRewriteModal__inner {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
}

.TheRewriteModal__inner iframe {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.TheRewriteModal__close-button-container {
  top: 0;
  position: absolute;
}

/* GRID */

.closest {
  animation: fade 1.5s ease-in-out;
  background: transparent;
}

@keyframes fade {
  50% {
    background: tomato;
  }
  0%,
  100% {
    background: transparent;
  }
}

/* HIGHLIGHTS */
.hypothesis-highlights-always-on {

  .hypothesis-highlight {
    background-color: unset;
    position: relative;
  }

  .hypothesis-highlight .hypothesis-highlight {
    background-color: unset;
  }

  rewrite-highlight {
    display: inline;
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0;
    z-index: -1;
    background-color: c.$default-color;
  }


  .hypothesis-highlight.definition > rewrite-highlight {
    background-color: c.$definition-color;
  }

  .hypothesis-highlight.addition > rewrite-highlight {
    background-color: c.$addition-color;
  }


  .hypothesis-highlight > .hypothesis-highlight > rewrite-highlight {
    bottom: 40%;
  }

  .hypothesis-highlight > .hypothesis-highlight > .hypothesis-highlight > rewrite-highlight {
    bottom: 80%;
  }
}
